# Terraform local state & overrides
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
override.tf
override.tf.json

# Secrets & Local Tokens
*.pem
*.key
argocd-token.txt
kubeconfig

# System & IDE clutter
.DS_Store
.idea/
.vscode/